.background {
  background-color: #0E1116;
  color: #CBD1D8;
}

.card {
  background-color: #23262C;
  margin-top: 10px;
}

a {
  color: #58A6FF;
  text-decoration: none;
}

a:hover {
  color: #58A6FF;
  text-decoration: underline;
  cursor: pointer;
}
